body {
  color: lightgray;
  text-align: center;
}

#moots {
  background-color: transparent;
  border: none;
}

.content-text {
  font-size: 20px;
}

.label-text {
  font-size: 12px;
}

.main-button {
  width: 250px;
  border-radius: 6px;
}

.upgrade-button {
  color: lightgray;
  background-image: url("./flannel.png");
  border-radius: 6px;
  padding: 6px 12px 6px;
}

.upgrade-button:hover {
  opacity: 0.8;
}

.upgrade-button:disabled {
  opacity: 0.5;
}
